<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"> {{ 'ALREADY_A_MEMBER_LABEL' | translate}} - {{ 'SIGN_IN_TO_YOUR_ACCOUNT_LABEL' | translate}}</p>
        <div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control"  [(ngModel)]="username" name="login" placeholder="{{ 'USERNAME_LABEL' | translate}}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control"  [(ngModel)]="password" name="password" placeholder="{{ 'PASSWORD_LABEL' | translate}}" >
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="clearfix">
                <div class="col-xs-8">
                  <div class="checkbox icheck">
                    <label>
                      <input  [(ngModel)]="remember_me" type="checkbox"> 
                      Remember Me
                    </label>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="Loginx()">
                        {{ 'SIGN_IN_LABEL' | translate}}
                    </button>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.social-auth-links -->

        <a href="#">I forgot my password</a><br>
    </div>
  <!-- /.login-box-body -->
</div>


  