

    <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"> 
            {{ 'USER_PERMISSIONS_LABEL' | translate}} 
            <span  *ngIf="global.actions.is_new == true">
              {{ 'NEW_LABEL' | translate}}
            </span>
            <span *ngIf="global.actions.is_new == false">
              {{ 'EDIT_LABEL' | translate}}
            </span>
        </h3>
      </div>    

      <div class="box-body">
          <div *ngIf="global.actions.updated == true" class="alert alert-success alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_SAVED_SUCESSFULLY_LABEL' | translate}} !</h4>
            
          </div>
            <div class="form-group">
                  
              <div class="box-header with-border">
                  <h3 class="box-title"> 
                      {{ 'PERMISIONS_LABEL' | translate}} 
                      <small>{{ 'LIST_LABEL' | translate}}</small>
                  </h3>
                  <div class="box-tools">
                      <div class="input-group input-group-sm" style="width: 250px;">
                        <input name="table_search" class="form-control pull-right" [(ngModel)]=query (keyup)=find() placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'CATEGORIES_LABEL' | translate}}"type="text">
                        <div class="input-group-btn">
                          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                  </div>
              </div> 
              <div>
                <label *ngFor="let country of permissions">
                  {{ country.module | translate}}
                  <input type="checkbox"   [checked]="itemSelected(country)" (change)="SELECT_COUNTRY(country)">
                </label>
              </div>
                <div *ngIf="pages > 1">
                    <button (click)="loadmore()" class="btn btn-block btn-primary" type="button">
                            {{ 'LOAD_MORE_LABEL' | translate}}
                    </button>
                </div>
         

              <br>
            </div>
       
        
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        
        <button  routerLink="/users" class="btn btn-primary">
         {{ 'BACK_LABEL' | translate}} 
        </button>
        &nbsp;
        <button (click)="save()" class="btn btn-primary">
          <span  *ngIf="global.actions.is_new == true">
             {{ 'SAVE_LABEL' | translate}} 

          </span>
          <span *ngIf="global.actions.is_new == false">
             {{ 'UPDATE_LABEL' | translate}} 
          </span>
       </button>
        &nbsp;
          <a  *ngIf="global.actions.is_new == false" class="btn btn-danger" (click)="DELETE()">
            <i class="fa fa-trash"></i>
          </a>
      </div>
    </div>
    <!-- /.box -->
</section>
