<div class="">
  <section class="content-header">
    <h1>
      General UI
      <small>Preview of UI elements</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">UI</a></li>
      <li class="active">General</li>
    </ol>
  </section>
  <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-tag"></i> Color Palette</h3>
      </div>
      <div class="box-body">
        <div class="form-group"> 
          <input type="text" 
              ng-model="model.dollar_price"
              class="form-control" placeholder="{{ 'WEBSITE_NAME_LABEL' | translate}}">
        </div>
        <button ng-click='update()' type="button" class="btn btn-primary">
            {{ 'UPDATE_LABEL' | translate}}
        </button>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </section>
</div>

      
