

    <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"> 
            {{ 'CATEGORIES_LABEL' | translate}} 
            <span  *ngIf="global.actions.is_new == true">
              {{ 'NEW_LABEL' | translate}}
            </span>
            <span *ngIf="global.actions.is_new == false">
              {{ 'EDIT_LABEL' | translate}}
            </span>
        </h3>
      </div>    

      <div class="box-body">
          <div *ngIf="global.actions.updated == true" class="alert alert-success alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_SAVED_SUCESSFULLY_LABEL' | translate}} !</h4>
            
          </div>
          

          <div class="col-md-12">
            <div class="form-group"> 
              <label>{{ 'FIRST_NAME_LABEL' | translate}}</label>
              <input type="text" 
                  [(ngModel)]="model.first_name"
                class="form-control" placeholder="{{ 'FIRST_NAME_LABEL' | translate}}">
            </div>
            <div class="form-group"> 
              <label>{{ 'LAST_NAME_LABEL' | translate}}</label>
              <input type="text" 
                  [(ngModel)]="model.last_name"
                class="form-control" placeholder="{{ 'LAST_NAME_LABEL' | translate}}">
            </div>
            <div class="form-group"> 
              <label>{{ 'EMAIL_NAME_LABEL' | translate}}</label>
              <input type="text" 
                   [(ngModel)]="model.email"
                class="form-control" placeholder="{{ 'EMAIL_NAME_LABEL' | translate}}">
            </div>
            <div class="form-group"> 
              <label>{{ 'USERNAME_LABEL' | translate}}</label>
              <input type="text" 
                   [(ngModel)]="model.username"
                class="form-control" placeholder="{{ 'USERNAME_LABEL' | translate}}">
            </div>
            <div class="form-group"> 
              <label>{{ 'NICK_NAME_LABEL' | translate}}</label>
              <input type="text" 
                  [(ngModel)]="model.nick"
                class="form-control" placeholder="{{ 'NICK_NAME_LABEL' | translate}}">
            </div>
            <div class="form-group">
                  
              <label class="control-label">{{ 'USER_ROLE_LABEL' | translate}} </label>
              <select class="form-control" [(ngModel)]="model.role" >
                  <option [ngValue]="country.id" *ngFor="let country of roles">{{ country.name | translate}}</option>

              </select>
              <br>
            </div>
          </div>

        
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        
        <button (click)="back()" class="btn btn-primary">
         {{ 'BACK_LABEL' | translate}} 
        </button>
        &nbsp;
        <button (click)="save()" class="btn btn-primary">
          <span  *ngIf="global.actions.is_new == true">
             {{ 'SAVE_LABEL' | translate}} 

          </span>
          <span *ngIf="global.actions.is_new == false">
             {{ 'UPDATE_LABEL' | translate}} 
          </span>
       </button>
        &nbsp;
          <a  *ngIf="global.actions.is_new == false" class="btn btn-danger" (click)="DELETE()">
            <i class="fa fa-trash"></i>
          </a>
      </div>
    </div>
    <!-- /.box -->
</section>
