<div class="row">
	<div class="col-md-12">
    
	    <div class="block block-condensed">


	        <!-- START HEADING -->
	        <div class="app-heading app-heading-small">
	            <div class="title">
	                <h5>{{ 'MEDIA_LABEL' | translate}}</h5>
	                <p>{{ 'IMAGE_PLURAL_LABEL' | translate}}</p>
	            </div>
	        </div>
	        <!-- END HEADING -->

	        <div class="block-content">


            <ul class="nav nav-pills">
                <li class="active">
                	<a href="#pills-1"  data-toggle="tab" aria-expanded="true">
                		{{ 'MEDIA_LABEL' | translate}}
                	</a>
                </li>
             
                <li class="">
                    <a href="#pills-2"  data-toggle="tab" aria-expanded="false">
                        {{ 'MEDIA_ALBUM_LABEL' | translate}}
                    </a>
                </li>
              
            </ul>
            <div class="tab-content">

	            	<div class="tab-pane active" id="pills-1">
	            		
		            	<div class="row">
			               	<div class="col-md-12">
			               		
			                </div>		                    
			           </div>
			         
			          	
	             
		         	<div class="row padding-top-20">
						
						<div class="dropdown ">
		                    <div class="btn-group"  data-toggle="dropdown" >
		                        <button type="button" class="btn btn-default dropdown-toggle">
		                        {{ 'ACTIONS_LABEL' | translate}}
		                        </button>
		                        <button type="button" class="btn btn-defaul dropdown-toggle" >
		                        	<span class="caret"></span>
		                        </button>                                            
		                    </div>
		                    <ul  class="dropdown-menu"> 
		                        <li><a >
		                        	{{ 'NEW_LABEL' | translate}}  {{ 'MEDIA_EXTERNAL_LABEL' | translate}}  </a></li> 
		                    </ul>
		                </div>
		               	<div class="col-md-10">
		               		<div class="form-group ">
		                    
		                        <div class="input-group">
		                            <div class="input-group-addon"><span class="fa fa-search"></span></div>
		                            <input type="text" ng-model="model.query"  class="form-control" placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'FILE_PLURAL_LABEL' | translate}}">
		                            <span class="input-group-btn">
	                                    <button ng-click="search()" class="btn btn-primary" type="button">Go!</button>
	                                </span>
		                        </div>
		                    </div>
		               	</div>
			                

	                </div>

	                <div class="row padding-top-20">      

					    <table class="table">

					    	<tbody>
					        	
					   		</tbody>
						</table>

				    </div>
				       
				         
				    
					


		   
		             <div ng-show="model.pages > 1">
                      <button  ng-click="loadmore()" class="btn btn-block btn-primary" type="button">
                            {{ 'LOAD_MORE_LABEL' | translate}}

                      </button>
                	</div>

	            		
	            	</div>
	            	<div class="tab-pane " id="pills-2">
	            		
			         	<div class="row padding-top-20">
							<div class="dropdown ">
				                 <div class="btn-group"  data-toggle="dropdown" >
				                     <button type="button" class="btn btn-default dropdown-toggle">
				                     {{ 'ACTIONS_LABEL' | translate}}
				                     </button>
				                     <button type="button" class="btn btn-defaul dropdown-toggle" >
				                     	<span class="caret"></span>
				                     </button>                                            
				                 </div>
				                 <ul  class="dropdown-menu"> 
				                     <li>
				                     	<a >{{ 'NEW_LABEL' | translate}}</a>
				                     </li> 
				                 </ul>
				            </div>
				            <div class="col-md-10">
						               
			               		<div class="form-group ">
			                    
			                        <div class="input-group">
			                            <div class="input-group-addon"><span class="fa fa-search"></span></div>
			                            <input type="text" ng-model="model.query_album"  class="form-control" placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'MEDIA_ALBUM_LABEL' | translate}}">
			                            <span class="input-group-btn">
		                                    <button ng-click="search_album()" class="btn btn-primary" type="button">Go!</button>
		                                </span>
			                        </div>
			                    </div>
			               	</div>
				                

		                </div>

		                <div class="row padding-top-20">      

						    <table class="table">

						    	<tbody>
						        
						   		</tbody>
							</table>

					    </div>
					       
					         
					    
						


			   
			            <div ng-show="model.pages > 1">
                      		<button  ng-click="loadmore()" class="btn btn-block btn-primary" type="button">
                            {{ 'LOAD_MORE_LABEL' | translate}}
                      		</button>
                		</div>


	            	</div>
	            </div>




	        </div>                            
	    </div>
    
	</div>

</div>