<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"> {{'REGISTER_LABEL' | translate}} - {{'NEW_ACCOUNT_LABEL' | translate}}</p>
        <div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="{{'USERNAME_LABEL' | translate}}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{'EMAIL_LABEL' | translate}}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{'PASSWORD_LABEL' | translate}}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{'REPEAT_NEW_PASSWORD_LABEL' | translate}}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
        </div>
        <div class="social-auth-links text-center">
            <button class="btn btn-primary btn-block btn-flat" (click)="Loginx()">
                {{ 'SIGN_IN_LABEL' | translate}}
            </button>
            <button type="submit" class="btn btn-primary btn-block btn-flat">
                {{'REGISTER_ACCOUNT_LABEL' | translate}}
            </button>
        </div>
        <!-- /.social-auth-links -->
    </div>
  <!-- /.login-box-body -->
</div>


  