
    <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
  
        <div class="box-header with-border">
            <h3 class="box-title"> 
                {{ 'MEDIA_LABEL' | translate}} 
                <small>{{ 'LIST_LABEL' | translate}}</small>
            </h3>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 250px;">
                  <input name="table_search" class="form-control pull-right"  placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'MEDIA_LABEL' | translate}}"type="text">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                  </div>
                </div>
            </div>
        </div>      

        <div class="box-body">

          
        <div class="">

        	<ul  class="nav nav-pills">
                <li class="active">
                	<a href="#pills-1"  data-toggle="tab" aria-expanded="true">
                		{{ 'MEDIA_LABEL' | translate}}
                	</a>
                </li>
             
                <li class="">
                    <a href="#pills-2"  data-toggle="tab" aria-expanded="false">
                        {{ 'MEDIA_ALBUM_LABEL' | translate}}
                    </a>
                </li>
              
            </ul>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="dropdown ">
                    <div class="btn-group"  data-toggle="dropdown" >
                        <button type="button" class="btn btn-default dropdown-toggle">
                        {{ 'ACTIONS_LABEL' | translate}}
                        </button>
                        <button type="button" class="btn btn-defaul dropdown-toggle" >
                            <span class="caret"></span>
                        </button>                                            
                    </div>
                    <ul  class="dropdown-menu"> 
                        <li><a >{{ 'NEW_LABEL' | translate}}</a></li> 
                    </ul>
                </div>
            </div>

        </div>
              

        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'THUMB_LABEL' | translate}}</th>
                    <th>{{ 'TITLE_LABEL' | translate}}</th>
                   
                    
                    <th>{{ 'ACTIONS_LABEL' | translate}}</th>
                </tr>
            </thead>
            <tbody>
            
             
            </tbody>
        </table>

        <div ng-show="model.pages > 1">
            <button  ng-click="loadmore()" class="btn btn-block btn-primary" type="button">
                    {{ 'LOAD_MORE_LABEL' | translate}}
            </button>
        </div>
         

      
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
