
  <!-- START PAGE HEADER -->
  <header class="main-header" *ngIf="show"></header>
  <div *ngIf="show" class="main-sidebar">
    <navigation></navigation>
  </div>
  <!-- START PAGE CONTAINER -->
  <div [ngClass]="{'content-wrapper': show}" >
    <router-outlet></router-outlet>
  </div>
  <footer *ngIf="show" class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>
      Copyright &copy; 2014-2016 
      <a href="https://adminlte.io">Almsaeed Studio</a>.
    </strong> 
    All rights reserved.
  </footer>
  <div *ngIf="show" >
    <sidebar></sidebar>
  </div>

    

