<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>

        <li class="treeview  menu-open">
          <a>
            <i class="fa fa-circle-o text-red"></i> <span>Blog</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: block;">
             <li>
                <a routerLink="/posts">
                   <i class="fa fa-circle-o text-red"></i>
                   <span>{{ 'POST_PLURAL_LABEL' | translate}}</span>  
                </a>
              </li>
              <li>
                <a routerLink="/pages">
                   <i class="fa fa-circle-o text-red"></i>
                   <span>{{ 'PAGES_PLURAL_LABEL' | translate}}</span>  
                </a>
              </li>
              <li>
                <a routerLink="/categories">
                   <i class="fa fa-circle-o text-red"></i>
                   <span>{{ 'CATEGORY_LABEL' | translate}}</span>  
                </a>
              </li>
              <li>
                <a  routerLink="/media">
                   <i class="fa fa-circle-o text-red"></i>
                   <span>{{ 'MEDIA_LABEL' | translate}}</span>  
                </a>
              </li>
              <li>
                <a  routerLink="/comments">
                   <i class="fa fa-circle-o text-red"></i>
                   <span>{{ 'COMMENTS_LABEL' | translate}}</span>  
                </a>
              </li>
          </ul>
        </li>
        <li class="treeview menu-open">
          <a>
            <i class="fa fa-circle-o text-blue"></i> <span>System</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: block;">
            <li>
              <a  routerLink="/navigations">
                 <i class="fa fa-circle-o text-blue"></i>
                 <span>{{ 'NAVIGATION_PLURAL_LABEL' | translate}}</span>  
              </a>
            </li>
            <li>
              <a  routerLink="/users">
                 <i class="fa fa-circle-o text-blue"></i>
                 <span>{{ 'USER_PLURAL_LABEL' | translate}}</span>  
              </a>
            </li>
            <li>
                <a  routerLink="/permisions">
                   <i class="fa fa-circle-o text-blue"></i>
                   <span>{{ 'PERMISIONS_LABEL' | translate}}</span>  
                </a>
              </li>
          </ul>
        </li>

        <li>
          <a routerLink="/tags">
             <i class="fa fa-circle-o text-green"></i>
             <span>{{ 'TAGS_LABEL' | translate}}</span>  
          </a>
        </li>
       
        
        
      

      </ul>
    </section>
    <!-- /.sidebar -->
</aside>
